*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #041e2b;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s ease-in-out;
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front{
    background: rgb(138, 138, 21);
}

.card:hover .face.front{
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back{
    background: rgb(138, 138, 21);
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back{
    transform: perspective(500px) rotateY(360deg);
}

.card .face.front img{
    width: 300px;
    height: 400px;
    margin-top: 33px;
    transform: perspective(500px) translateZ(20px);
}

.card .face.back img{
    width: 300px;
    height: 400px;
    transform: perspective(500px) translateZ(30px);
}
