*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #121213;
}

.typewriter{
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #0002);
}

.typewriter::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: #03e9f4;
    animation: blinkCursor 0.7s steps(3) infinite;
}

/*irá dar vida ao efeito de cursos de escrita piscando*/
@keyframes blinkCursor{
    0%,75%{
        opacity: 1;
    }
    76%,100%{
        opacity: 0;
    }
}

.typewriter h2{
    position: relative;
    color: #03e9f4;
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
    animation: typing 8s steps(25) infinite; /*contar quantos caracteres possui a frase e incluir nos steps*/
    white-space: nowrap; /*evita quebra de linha*/
    overflow: hidden;
}

@keyframes typing{
    0%,90%,100%{
        width: 0;
        display: none;
    }
    30%,60%{
        width: 513.36px; /*incluir o tamanho em px da frase*/
    }
}

