*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #041e2b;
}

.loader{
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
    animation: animate 2s infinite ease;
}

.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(180deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes loader-inner{
    0%{
        height: 0%;
    }
    25%{
        height: 0%;
    }
    50%{
        height: 100%;
    }
    75%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}